<div class="pt-2 d-block justified">
    Scrivimi a <a href="mailto://luca.giuliani.11@gmail.com">luca.giuliani.11@gmail.com</a> o al numero
    <a href="tel://+393382037596">(+39) 338 20 37 596</a>, oppure lascia un messaggio qui sotto.
</div>
<form class="d-flex flex-column flex-grow-1 py-2"
      action="https://public.herotofu.com/v1/ca0d42b0-7e9c-11f0-b600-1fdb6134186f"
      accept-charset="UTF-8"
      method="post">
    <label class="my-1" for="contactsName">Nome:</label>
    <input class="mb-2 field" id="contactsName" name="name" type="text" autocomplete="false" required>
    <label class="my-1" for="contactsEmail">Email:</label>
    <input class="mb-2 field" id="contactsEmail" name="email" type="email" autocomplete="false" required>
    <label class="my-1" for="contactsMessage">Messaggio:</label>
    <textarea class="mb-2 flex-grow-1 field" id="contactsMessage" name="message" required></textarea><br>
    <input class="w-100 field" id="contactsButton" type="submit" value="Invia">
</form>