<div class="d-block align-self-center m-auto">
    <div class="pb-2 pb-md-3 d-block justified">
        <h6>Scrivimi a <a href="mailto://luca.giuliani.11@gmail.com">luca.giuliani.11@gmail.com</a> o al numero
            <a href="tel://+393382037596">(+39) 338 20 37 596</a>, oppure lascia un messaggio qui sotto.</h6>
    </div>
    <form class="d-flex flex-column py-2 py-md-3" action="https://fabform.io/f/7KVgiPb" target="_blank" method="post">
        <label class="my-1" for="contactsName">Nome:</label>
        <input class="mb-2" id="contactsName" name="name" type="text" autocomplete="false" required>
        <label class="my-1" for="contactsEmail">Email:</label>
        <input class="mb-2" id="contactsEmail" name="email" type="email" autocomplete="false" required>
        <label class="my-1" for="contactsMessage">Messaggio:</label>
        <textarea class="mb-2" id="contactsMessage" name="message" required></textarea><br>
        <input class="w-100" id="contactsButton" type="submit" value="Invia">
    </form>
</div>