<div class="pt-2 d-block justified">
    <h6>Scrivimi a <a href="mailto://luca.giuliani.11@gmail.com">luca.giuliani.11@gmail.com</a> o al numero
        <a href="tel://+393382037596">(+39) 338 20 37 596</a>, oppure lascia un messaggio qui sotto.</h6>
</div>
<form class="d-flex flex-column flex-grow-1 py-2" action="https://fabform.io/f/7KVgiPb" target="_blank" method="post">
    <label class="my-1" for="contactsName">Nome:</label>
    <input class="mb-2 field" id="contactsName" name="name" type="text" autocomplete="false" required>
    <label class="my-1" for="contactsEmail">Email:</label>
    <input class="mb-2 field" id="contactsEmail" name="email" type="email" autocomplete="false" required>
    <label class="my-1" for="contactsMessage">Messaggio:</label>
    <textarea class="mb-2 flex-grow-1 field" id="contactsMessage" name="message" required></textarea><br>
    <input class="w-100 field" id="contactsButton" type="submit" value="Invia">
</form>