<div class="d-block d-lg-flex equal-height-row align-items-center justify-content-around">
    <div id="home-carousel" class="col-12 col-lg-5 col-xl-4 p-0 carousel slide"
         data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item {{::($index === 0 ? 'active' : '')}}"
                 ng-repeat="img in ::photos track by $index">
                <img ng-src="res/{{img.name}}" class="d-block w-100" alt={{img.alt}}>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel" data-bs-slide="prev">
            <span class="fa fa-3x fa-angle-left" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
            <span class="fa fa-3x fa-angle-right" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="col-12 col-lg-7 col-xl-8 p-3 justified align-items-center justify-content-center">
        <p>
            <strong style="color: var(--dark)">SempreVerde</strong> è il progetto solista di Luca Giuliani,
            cantautore e produttore musicale con base a Bologna.
        </p>
        <p>
            Il progetto nasce dall'esigenza di sperimentare sonorità nuove, mescolando elementi <em>trance</em> e
            <em>melodic techno</em> a testi ispirati dalla tradizione cantautorale italiana di stampo più
            elettronico e alternativo, da <em>Franco Battiato</em> ai <em>Blue Vertigo</em>. E se da un lato
            l'aspetto cupo della techno serve da spinta per cantare la rabbia e la disillusione, trattando
            apertamente temi sociali e politici all'interno dei brani a partire proprio dalla questione ecologica
            richiamata dal nome, dall'altro l'immaginario del <em>clubbing</em> è usato come collante per tenere
            insieme un aspetto più collettivo e gioioso, che prende forma nei rituali più tribali della danza.
        </p>
        <p>
            Musicalmente attivo già da diversi anni, Giuliani ha preso parte ad altri progetti fra cui il duo
            <a href="https://open.spotify.com/intl-it/artist/2wvpQCjOmseuzCLC9orKpn?si=SX406iOfSi-U_9eEje4gaw"
               target="_blank" style="color: var(--medium)"
            >Divinae Miranda</a>.
            In quattro anni di attività, con Divinae Miranda ha pubblicato due album e si è esibito in vari locali
            di musica dal vivo del centro e nord Italia come <em>Sottoscala 9 (LT)</em>,
            <em>Giardini Luzzati (GE)</em>, <em>Diagonal Loft Club (FC)</em>, <em>La Tenda</em> e <em>OFF (MO)</em>,
            <em>DumBO</em> e <em>Porta Pratello (BO)</em>, <em>Vox Live Club (AN)</em>, <em>La Bookique (TN)</em>, e
            altri eventi come il <em>Meeting delle Etichette Indipendenti (MEI)</em> di Faenza, le celebrazioni per
            il <em>25 Aprile</em> a Bologna, e il festival <em>Suoni di Marca</em> a Treviso.
        </p>
    </div>
</div>
<div class="hr" style="margin: 5px 3%;"></div>
<div class="col-12 container-fluid d-block my-auto" style="width: 95%">
    <iframe width="100%"
            height="310px"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2034293238&color=%23579D6C&show_teaser=false&show_playcount=false">
    </iframe>
</div>
