<div class="d-flex flex-column flex-lg-row gap-3 equal-height-row align-items-center justify-content-around">
    <div id="home-carousel" data-bs-ride="carousel" class="text-center align-self-top carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item {{::($first ? 'active' : '')}}" ng-repeat="photo in photos">
                <img src="res/{{photo.name}}.jpg" class="d-block photo" alt="{{photo.alt}}" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel" data-bs-slide="prev">
            <span class="fa fa-3x fa-angle-left" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
            <span class="fa fa-3x fa-angle-right" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="d-flex flex-column gap-2 gap-lg-3 gap-xl-4 py-2 justified align-self-center">
        <p><strong>Sempreverde</strong> è il progetto solista di Luca Giuliani, cantautore e produttore musicale con base a Bologna.</p>
        <p>Il progetto nasce dall'esigenza di sperimentare sonorità nuove in brani dalla forte ispirazione sociale e politica, a partire in primo luogo dalla questione <i>ecologica</i> richiamata già dal nome. Alle strutture e i testi ispirati dalla tradizione italiana di stampo più alternativo, da <i>Franco Battiato</i> ai <i>Subsonica</i> e i <i>Blue Vertigo</i>, vengono infatti abbinati elementi <i>trance</i> e <i>melodic techno</i>. E se da un lato la cupezza delle sonorità elettroniche sostengono la rabbia e la disillusione contemporanea affrontata nei brani, dall'altro l'estetica del <i>clubbing</i> viene sfruttata per proporre un immaginario di gioia e collettività, che possa prendere forma nei rituali tribali della danza.</p>
    </div>
</div>

<div class="d-block my-auto">
    <iframe width="100%" height="360px" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2034293238&color=%23579D6C&show_teaser=false&show_playcount=false"> </iframe>
</div>
