<div class="container-fluid m-0 align-self-center" style="max-width: var(--page)">
    <h2 class="text-center"><strong>Rider Tecnico</strong></h2>

    <p>
        Il presente documento contiene le richieste tecniche da soddisfare per una corretta riuscita del concerto. In
        caso di dubbi, informazioni o comunicazioni importanti si prega di contattare il prima possibile l’artista al
        seguente recapito:
        <br>
        <span class="d-flex flex-column flex-sm-row justify-content-start mt-1">
            <strong>Luca Giuliani</strong>
            <span class="d-none d-sm-block mx-1"> - </span>
            <a href="tel://+393382037596">(+39) 338 2037596</a>
            <span class="d-none d-sm-block mx-1"> - </span>
            <a href="mailto://luca.giuliani.11@gmail.com">luca.giuliani.11@gmail.com</a>
        </span>
    </p>

    <p>
        La richiesta di compilazione del Programma Musicale deve essere inviata tramite i portali SIAE <strong><i>entro
        il giorno precedente all’evento</i></strong>. Sarà premura dell’artista restituire il programma compilato entro
        un massimo di cinque giorni dalla data dell’evento. La mail di riferimento per la compilazione del Borderò SIAE
        è: <a href="mailto://luca.giuliani.11@gmail.com">luca.giuliani.11@gmail.com</a>
    </p>

    <div class="my-4">
        <h4><strong>Richieste Tecniche</strong></h4>
        <ul>
            <li>
                <strong>Palco</strong> ben illuminato, con dimensioni minime 4m x 3m.
            </li>
            <li>
                <strong>Impianto Audio</strong> di comprovata qualità che comprenda almeno <strong>un top per lato, un
                sub,
                e un monitor (spia)</strong>. L’impianto deve essere configurato in modo tale da raggiungere la completa
                copertura della zona del pubblico e garantire un ascolto corretto all’artista.
            </li>
            <li>
                <strong>Mixer</strong> presente in loco dotato di <strong>almeno 4 input e 2 output.</strong>
            </li>
            <li>
                Si richiedono inoltre:
                <ul>
                    <li>
                        un <strong>microfono dinamico</strong> (Shure SM58 o simili) con <strong>asta
                        regolabile</strong>;
                    </li>
                    <li>
                        un <strong>tavolo ad altezza regolabile</strong> per PC e DJ Consolle (o in alternativa uno
                        stand
                        incrociato con mensola metallica a supporto);
                    </li>
                    <li>
                        una <strong>DI Box Stereo</strong> e una <strong>ciabatta di corrente</strong> a centro palco.
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="d-flex justify-content-center my-4">
        <table class="w-100" style="max-width: calc(var(--page) - 100px)">
            <tr>
                <th colspan="4" class="text-center text-uppercase">
                    Channel List
                </th>
            </tr>
            <tr>
                <th>Ch</th>
                <th>Strumento</th>
                <th>Microfono / DI Box</th>
                <th>Supporto</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Vox</td>
                <td>Shure SM58 o simili</td>
                <td>Asta Alta</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Consolle / PC (Left)</td>
                <td>DI Box Stereo (Left)</td>
                <td rowspan="2">Tavolo Regolabile o Stand a X</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Consolle / PC (Right)</td>
                <td>DI Box Stereo (Right)</td>
            </tr>
        </table>
    </div>
</div>
