<div class="d-block d-md-flex align-items-center">
    <h1 class="me-2 mb-0">{{song.title}}</h1>
    <h2 ng-if="song.subtitle !== undefined" class="my-0">({{song.subtitle}})</h2>
</div>

<div class="d-flex my-1 m-print-0 credits">
    <!-- Use ng-bind-html instead of inserting the credits as text because they might contain html code-->
    <i ng-bind-html="song.credits" class="d-block align-self-center mt-1 pb-2"></i>
</div>

<div id="songLyrics" ng-include="'src/templates/songs/' + song.alias + '.html'" class="d-flex flex-column"></div>

<div id="songPlayer" class="d-flex d-print-none align-items-center">
    <iframe width="100%" height="20px" src="{{song.url}}"></iframe>
</div>
