<strong>Strofa</strong>
<p>
    Si sveglia che fa buio ormai d'abitudine<br>
    La notte le regala un'aria più complice<br>
    Detesta il vuoto dei rumori della realtà (<i>Aurora sogna</i>)<br>
    Ma col volume a stecca può sopravvivere (<i>Aurora sogna</i>)<br>
</p>
<strong>Ritornello</strong>
<p>
    Sogna una carne sintetica<br>
    Nuovi attributi, un microchip emozionale<br>
    Sogna di un bisturi amico che faccia di lei<br>
    Qualcosa fuori dal normale<br>
    Sogna una carne sintetica<br>
    Nuovi attributi, un microchip emozionale<br>
    Sogna di un bisturi amico che faccia di lei<br>
    Qualcosa fuori dal normale<br>
</p>
<strong>Strumentale</strong>
<p>
    Aurora sogna<br>
    Aurora sogna<br>
</p>
<strong>Strofa</strong>
<p>
    Qualche gelato al giorno forse la nutrirà<br>
    Non crede nell'amore, in ciò è molto semplice<br>
    Come si chiama questa voglia di vivere (<i>Aurora sogna</i>)<br>
    Che nel suo corpo ha bisogno di espandere (<i>Aurora sogna</i>)<br>
</p>
<strong class="mb-2">Strumentale</strong>
<strong>Ritornello</strong>
<p>
    Sogna una carne sintetica<br>
    Nuovi attributi, un microchip emozionale<br>
    Occhi bionici, più adrenalina<br>
    Sensori e cibernetica neurale<br>
    Sogna una carne sintetica<br>
    Nuovi attributi e un microchip emozionale<br>
    Labbra cromate, ricordi seriali<br>
    Emozioni e un nuovo impianto sessuale<br>
</p>
<strong>Bridge</strong>
<p>
    Senza più mangiare<br>
    Senza più dormire<br>
    Senza più mangiare<br>
    Senza più dormire<br>
    Senza più mangiare<br>
    Senza più dormire<br>
    Senza più mangiare<br>
    Senza più dormire<br>
</p>
<strong>Ritornello</strong>
<p>
    Sogna una carne sintetica<br>
    Nuovi attributi, un microchip emozionale<br>
    Occhi bionici, più adrenalina<br>
    Sensori e cibernetica neurale<br>
    Sogna una carne sintetica<br>
    Nuovi attributi, un microchip emozionale<br>
    Labbra cromate, ricordi seriali<br>
    Emozioni e un nuovo impianto sessuale<br>
</p>
<strong>Outro</strong>
<p class="mb-2">
    Le stesse facce di ogni giorno fanno male (<i>Aurora sogna</i>)<br>
    Le stesse voci recitanti giudicare<br>
    Posa l'orecchio sul bicchiere e sente il mare (<i>Aurora sogna</i>)<br>
    Ma non il suono della musica che piace a lei<br>
    La solitudine che indossa è più normale (<i>Aurora sogna</i>)<br>
    Di una prudente, saggia e isterica morale<br>
    Aurora sogna e nei suoi sogni sa cercare (<i>Aurora sogna</i>)<br>
    Senza paura un'esclusiva felicità<br>
</p>
<p>
    Sogna una carne sintetica (<i>Aurora sogna</i>)<br>
    Nuovi attributi, un microchip emozionale<br>
    Sogna di un bisturi amico che faccia di lei (<i>Aurora sogna</i>)<br>
    Qualcosa fuori dal normale<br>
    Sogna una carne sintetica (<i>Aurora sogna</i>)<br>
    Nuovi attributi, un microchip emozionale<br>
    Sogna di un bisturi amico che faccia di lei (<i>Aurora sogna</i>)<br>
    Qualcosa fuori dal normale<br>
</p>
