<strong>Strofa</strong>
<p>
    Mi guardi ma già lo sai<br>
    Che siamo allo sbando insieme<br>
    Disperse in un vortice<br>
    Senza fari e senza vele<br>
    Mi guardi ma già lo sai<br>
    Che stiamo affondando insieme<br>
    Disperse in un vortice<br>
    D'amore<br>
</p>
<strong>Pre-Ritornello</strong>
<p>
    Ti parlo ma mi gira la testa<br>
    E forse è anche un po’ colpa tua<br>
    Che mi scaldi il cuore<br>
    Che mi scaldi il cuore<br>
    Che mi scaldi il cuore<br>
</p>
<strong class="mb-2">Strumentale</strong>
<p></p>
<strong>Ritornello</strong>
<p>
    Mi salverai, mi curerai, mi guarirai<br>
    Ancora e ancora<br>
    Mi stringerai, proteggerai<br>
    Per sempre, per sempre, per sempre, e ancora<br>
</p>
<strong>Strofa</strong>
<p>
    Mi guardi ma già lo sai<br>
    Che il tempo rimasto è breve<br>
    Verso la catastrofe<br>
    Senza scudi e senza fede<br>
    Mi guardi ma già lo sai<br>
    Che il tempo ci rende aliene<br>
    Verso la catastrofe<br>
    Da sole<br>
</p>
<strong>Pre-Ritornello</strong>
<p>
    Ti parlo ma tu giri la testa<br>
    E in fondo è proprio colpa tua<br>
    Che mi scaldi il cuore<br>
    Che mi scaldi il cuore<br>
    Che mi scaldi il cuore<br>
</p>
<strong class="mb-2">Strumentale</strong>
<p></p>
<strong>Ritornello</strong>
<p>
    Mi salverai, mi curerai, mi guarirai<br>
    Ancora e ancora<br>
    Mi stringerai, proteggerai<br>
    Per sempre, per sempre, per sempre, per ora<br>
    Mi perderai, rinnegherai<br>
    Tre volte, tre volte, e altre volte ancora<br>
    Mi brucerai, mi lascerai<br>
    Per sempre, per sempre, per sempre sola<br>
</p>
<strong>Outro</strong>
<p>
    (<i>Per sempre, per sempre, per sempre sola</i>)<br>
    (<i>Per sempre, per sempre, per sempre sola</i>)<br>
    (<i>Per sempre, per sempre, per sempre sola</i>)<br>
    (<i>Per sempre, per sempre, per sempre</i>)<br>
</p>
