<strong>Strofa</strong>
<p>
    Laggiù nel medio oriente<br>
    Come un bufalo ferito<br>
    Infuria il pirata americano<br>
    Ma nei campi e sulle dune<br>
    Sono armati anche i bambini<br>
    Ogni donna impugna il suo fucile<br>
    No, non fan paura<br>
    I carri armati d'Israele<br>
    La tua terra tu la devi liberare<br>
</p>
<strong>Ritornello</strong>
<p>
    Abbiamo alzato il rosso, il verde, il bianco e il nero<br>
    Stretto in pugno la bandiera<br>
    I colori di Al Fatah<br>
    Abbiamo alzato la bandiera partigiana<br>
    Della rossa Palestina<br>
    Accanto a quella del Vietnam<br>
</p>
<strong>Strofa</strong>
<p>
    Li chiamano banditi<br>
    I giornali dei padroni<br>
    Che chiamavano assassini i partigiani<br>
    Noi non crederemo<br>
    Ai bollettini israeliani<br>
    Al tiranno giordano traditore<br>
    Quante volte ci hanno detto<br>
    “È finita in Palestina”<br>
    E ancora cantavamo la canzone<br>
</p>
<strong>Ritornello</strong>
<p>
    Abbiamo alzato il rosso, il verde, il bianco e il nero<br>
    Stretto in pugno la bandiera<br>
    I colori di Al Fatah<br>
    Abbiamo alzato la bandiera partigiana<br>
    Della rossa Palestina<br>
    Accanto a quella del Vietnam<br>
</p>
<strong>Strumentale</strong>
<p>
    <i>Dal fiume al mare, forever free Gaza</i><br>
    <i>Dal fiume al mare, forever free Gaza</i><br>
    <i>Dal fiume al mare, forever free Gaza</i><br>
    <i>Forever, forever, forever free Gaza</i><br>
    <i>Dal fiume al mare, forever free Gaza</i><br>
    <i>Dal fiume al mare, forever free Gaza</i><br>
    <i>Dal fiume al mare, forever free Gaza</i><br>
    <i>Dal fiume al mare, forever, forever</i><br>
    <i>Free Gaza</i><br>
</p>
<strong>Strofa</strong>
<p>
    Al di là di questo mare<br>
    C’è un popolo fratello<br>
    Ogni lotta aiuta un’altra lotta<br>
    Ogni colpo sparato<br>
    Sul nemico sionista<br>
    in Italia colpisce chi comanda<br>
    Coi popoli in rivolta<br>
    Si muove oggi la storia<br>
    Rivoluzione fino alla vittoria<br>
</p>
<strong>Ritornello</strong>
<p>
    Abbiamo alzato il rosso, il verde, il bianco e il nero<br>
    Stretto in pugno la bandiera<br>
    I colori di Al Fatah<br>
    Abbiamo alzato la bandiera partigiana<br>
    Della rossa Palestina<br>
    Accanto a quella del Vietnam<br>
</p>
<p>
    Abbiamo alzato il rosso, il verde, il bianco e il nero<br>
    Stretto in pugno la bandiera<br>
    I colori di Al Fatah<br>
    Abbiamo alzato la bandiera partigiana<br>
    Della rossa Palestina<br>
    Accanto a quella del Vietnam<br>
</p>