<strong>Strofa</strong>
<p>
    A caduta libera<br>
    In cerca di uno schianto<br>
    Ma fintanto che sei qui<br>
    Posso dirmi vivo<br>
</p>
<strong>Ritornello</strong>
<p>
    Tu, affogando per respirare<br>
    Imparando anche a sanguinare<br>
    Nel giorno che sfugge<br>
    Il tempo reale sei tu<br>
    A difendermi e farmi male<br>
    Sezionare la notte e il cuore<br>
    Per sentirmi vivo<br>
</p>
<strong>Strumentale</strong>
<p>
    In tutti i miei sbagli<br>
    Sei tutti i miei sbagli<br>
</p>
<strong>Strofa</strong>
<p>
    Non mi importa molto se<br>
    Niente è uguale a prima<br>
    Le parole su di noi<br>
    Si dissolvono così<br>
</p>
<strong>Ritornello</strong>
<p>
    Tu, affogando per respirare<br>
    Imparando anche a sanguinare<br>
    Nel giorno che sfugge<br>
    Il tempo reale sei tu<br>
    A difendermi e farmi male<br>
    Sezionare la notte e il cuore<br>
    Per sentirmi vivo<br>
    In tutti i miei sbagli<br>
</p>
<strong>Strumentale</strong>
<p>
    Sei tutti i miei sbagli<br>
    Sei tutti i miei sbagli<br>
</p>
<strong>Outro</strong>
<p>
    Tu il mio orgoglio che può aspettare (<i>sei tutti i miei sbagli</i>)<br>
    Tu anche quando c'è più dolore (<i>sei tutti i miei sbagli</i>)<br>
    Tu non trovo un rimpianto<br>
    Non riesco ad arrendermi<br>
    A tutti i miei sbagli (<i>sei tutti i miei sbagli</i>)<br>
    Sei tutti i miei sbagli (<i>sei tutti i miei sbagli</i>)<br>
    Sei tutti i miei sbagli (<i>sei tutti i miei sbagli</i>)<br>
    Sei tutti i miei sbagli<br>
</p>
