<strong>Strofa</strong>
<p>
    Sogno spesso ad occhi aperti<br>
    Mezza estate è già alle porte<br>
    Nostalgia dei vecchi tempi<br>
    Cado a terra, un altro viale<br>
    Si mette male<br>
</p>
<strong>Strofa</strong>
<p>
    Sono sveglio ad occhi spenti<br>
    Mezzo inverno è già passato<br>
    Nostalgia dei primi freddi<br>
    Cado a terra nel deserto<br>
    Mi sento perso<br>
    E intorno a me<br>
    Da tutti i lati<br>
    (<i>Vedo</i>)<br>
</p>
<strong>Ritornello</strong>
<p>
    Campi sterminati<br>
    Campi sterminati<br>
    Campi sterminati<br>
    Campi sterminati<br>
</p>
<strong>Strofa</strong>
<p>
    Sogno a stento ad occhi fermi<br>
    Mezzo ambiente è già distrutto<br>
    Direttiva A113<br>
    Cadi a terra, resti sola<br>
    Acqua alla gola<br>
    E intorno a te<br>
    Da tutti i lati<br>
    (<i>Vedi</i>)<br>
</p>
<strong>Ritornello</strong>
<p>
    Campi sterminati<br>
    Vedi campi sterminati<br>
    Solo campi sterminati<br>
    Campi sterminati<br>
</p>