<strong>Strofa</strong>
<p>
    Scorre la lancetta sul quadrante, uno e ventinove<br>
    Manca poco, manca poco, manca poco, manca poco<br>
    Scoppia un nuovo amore incandescente, brucia di passione<br>
    È tutto un fuoco, tutto un fuoco, tutto un fuoco, tutto un fuoco<br>
    Sgorga un fiume in piena, il sangue schizza dalle arterie<br>
    Dritto al cuore, dritto al cuore, dritto al cuore, dritto al cuore<br>
    Scocca nel silenzio della notte l’ultimo rintocco<br>
    Per ballare, per ballare, per ballare<br>
    (<i>Dance the apocalypse</i>)<br>
</p>
<strong>Ritornello</strong>
<p>
    Scorre la lancetta<br>
    Manca poco, manca poco<br>
    Scoppia un nuovo amore<br>
    Tutto un fuoco, tutto un fuoco<br>
    Sgorga un fiume in piena<br>
    Il tempo incalza sul finale<br>
    Mezza notte non ci basta<br>
    Per ballare, per ballare<br>
    (<i>Dance the apocalypse</i>)<br>
</p>
<strong>Bridge</strong>
<p>
    Si respira<br>
    Questa brezza radioattiva<br>
    Sinergia<br>
    Nuovi corpi in risalita<br>
    Si respira<br>
    Nella nebbia più di prima<br>
    Nostalgia<br>
    Questa notte è già finita<br>
</p>
<strong>Strumentale</strong>
<p>
    (<i>Dance the apocalypse</i>)<br>
    (<i>Hand over your flesh, and a new world awaits you</i>)<br>
</p>
<strong>Ritornello</strong>
<p>
    Scorre la lancetta<br>
    Manca poco, manca poco<br>
    Scoppia un nuovo amore<br>
    Tutto un fuoco, tutto un fuoco<br>
    Sgorga un fiume in piena<br>
    Il tempo incalza sul finale<br>
    Mezza notte non ci basta<br>
    Per ballare, per ballare<br>
</p>
<p class="mt-1">
    Scorre la lancetta<br>
    Dal passato, dal passato<br>
    <!-- manual page break for printing -->
    <span class="d-none d-print-block"
          style="height: calc(var(--footer-height) + 2 * var(--body-padding) + 5px)"
    ></span>
    Sopra i resti un nuovo mondo<br>
    Già sbocciato, già sbocciato<br>
    Scende un fiume in piena<br>
    Nel silenzio primordiale<br>
    Mezzanotte<br>
    Non ci resta che aspettare<br>
    (<i>The apocalypse</i>)<br>
</p>