<p>
    <strong>Strofa</strong><br>
    Fisso lo schermo mentre perdo<br>
    Il tempo che non ho<br>
    Scorro più in fondo come un gatto<br>
    Su una luce che si muove<br>
    E mi risveglio consumato<br>
    In una bolla di sapone<br>
    Un’altra onda, un altro deja vu<br>
    Ancora un altro calo di tensione<br>
</p>
<p>
    <strong>Pre-Ritornello</strong><br>
    Doomscrolling<br>
    Tempo perso a brainrottare<br>
    Rinchiuso dentro un mondo virtuale<br>
    Fa troppo caldo<br>
    Ma io vorrei soltanto erbatoccare<br>
</p>
<p>
    <strong>Ritornello</strong><br>
    Ma io vorrei soltanto erbatoccare<br>
    Ma io vorrei soltanto erbatoccare<br>
    Ma io vorrei soltanto erbatoccare<br>
    Ma io vorrei soltanto erbatoccare<br>
</p>
<p>
    <strong>Strofa</strong><br>
    Terra, sognati<br>
    Fuori dall’antropocene<br>
    E torna sempre verde<br>
    Nel fragore di altre mille primavere<br>
    Terra, svegliami<br>
    Dalla crisi generale<br>
    Rinchiuso dentro un mondo<br>
    Nel profondo del suo stato virtuale<br>
    Fa troppo caldo<br>
    Ma io vorrei soltanto erbatoccare<br>
</p>
<p>
    <strong>Ritornello</strong><br>
    Ma io vorrei soltanto erbatoccare<br>
    Ma io vorrei soltanto erbatoccare<br>
    Ma io vorrei soltanto erbatoccare<br>
    Ma io vorrei soltanto erbatoccare<br>
</p>