<p>
    And frankly I'm... again, I'm shocked<br>
    I always experience a sense of shock and delusion<br>
    When I come to this room<br>
    Because many of you recited the same script<br>
    That you had in front of yourself last year<br>
</p>
<p>
    Is it possible that after 42.000 people killed<br>
    You cannot empathize with the Palestinians<br>
    You... those of you who have not uttered a word<br>
    About what is happening in Gaza<br>
    Demonstrated that empathy<br>
    Has evaporated from this room<br>
</p>
<p><i><u>
    And empathy is the glue<br>
    That makes us stand united<br>
    As humanity<br>
</u></i></p>
<p>
    Look at the young people<br>
    In Europe, in Western countries<br>
    Those to whom many of you<br>
    Including my own country<br>
    And Germany, and France, and the UK<br>
    Are demonstrating that human rights<br>
    Are good to be taught in schools and universities<br>
</p>
<p>
    But don't dare you<br>
    Trying to exercise freedom of assembly<br>
    And freedom of expression in your streets<br>
    All the more for Palestine<br>
    All the more touching our ally Israel<br>
    This is what you are telling young generations<br>
</p>