<p>
    <strong>Intro</strong><br>
    Stringimi le mani che ho voglia di domani<br>
    Stringimi la testa che ho voglia di far festa<br>
    Stringimi le mani che ho voglia di domani<br>
    Stringimi la testa che ho voglia di far festa<br>
    <i>Stringimi le mani che ho voglia di domani</i><br>
</p>
<p>
    <strong>Verso</strong><br>
    Ho fatto i conti con la festa<br>
    Ho fatto i conti con la testa<br>
    I conti con la questa<br>
    Che scarica cariche in nome dell’alta richiesta<br>
    Di chi si professa professor magister<br>
    Ma non gli interessa nessuna proposta<br>
    Nessuna clemenza, senza coerenza<br>
    Spezza una lancia al dialogo con la violenza<br>
    Cadi a terra? Pazienza!<br>
    Devi stare più attenta<br>
    E pensaci due volte prima di fare la resistenza<br>
    Ai caschi in marcia su carri di carta<br>
    Pesta forte l'antisommossa<br>
    Pesta forte già sottomessa<br>
    Alla ministra che celebra messa<br>
</p>
<p>
    <strong>Ritornello</strong><br>
    Stringimi le mani che ho voglia di domani<br>
    Stringimi la testa che ho voglia di far festa<br>
    Stringimi le mani che ho voglia di domani<br>
    Stringimi la testa che ho voglia di far festa<br>
</p>
<p>
    <strong>Verso</strong><br>
    Ho fatto i conti per la terra<br>
    Ho fatto i conti per la serra<br>
    I conti per chi sferra<br>
    Sferzate celate da favole contro la guerra<br>
    E intanto sotterra ogni vago dissenso<br>
    Oltre la coltre di un mondo sommerso<br>
    Dalle derive del palinsesto<br>
    Che normalizza un ambiente all’inverso<br>
    Cadi a terra più spesso<br>
    Provi a stare connesso<br>
    E pensi un’altra volta<br>
    A quanto è grave tutto questo<br>
    Stessa storia, stesso posto<br>
    Stesso barbaro pretesto<br>
    Cuori spezzati, ira funesta<br>
    Oggi si resta perché domani è festa<br>
    <i>Stringimi le mani...</i><br>
</p>
<p>
    <strong>Ritornello</strong><br>
    Stringimi le mani che ho voglia di domani<br>
    Stringimi la testa che ho voglia di far festa<br>
    Stringimi le mani che ho voglia di domani<br>
    Stringimi la testa...<br>
    E allora?<br>
    Tira su le mani è qua la festa<br>
    Tira su le mani è qua la festa<br>
    Tira su le mani è qua la festa<br>
    Tira su le mani è qua la festa<br>
    Tira su le mani è qua la festa<br>
</p>