@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --dark: #293F14;
    --medium: #579D6C;
    --light: #E4E1D6;
    --page: 100%;
    --picture: 450px;
    background-color: var(--light);
}

/* Main Settings */

html, body {
    color: black;
    background-color: var(--light);
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    font-size: 18px;
    overflow-x: hidden;

    .justified {
        text-align: justify;
        text-justify: inter-word;
    }

    .hr {
        border-top: 1px solid var(--medium);
    }
}


/* Navbar Settings */

nav {
    background-color: var(--dark);

    .nav-item {
        padding: 0 10px;
    }

    .dropdown-menu {
        padding: 5px 0 10px 0;
        background-color: var(--dark);
        border-radius: 0;
        border: none;

        a {
            padding: 5px 15px !important;
            font-weight: 400;
        }
    }

    .nav-link {
        color: var(--light);
        font-weight: 600;
    }

    .nav-link:hover {
        color: var(--medium);
    }

    .nav-link:focus {
        color: var(--light);
    }

    .nav-link, .nav-link:hover, .nav-link:focus {
        cursor: pointer !important;
        background-color: inherit;
    }

    button {
        color: var(--light);
        background: none;
        border: none;
    }
}

/** Footer Settings **/

footer {
    padding-bottom: 10px;
    background-color: var(--light);

    img {
        margin: 10px 50px 0 50px;
    }

    .list-group-item {
        border: none;
        padding: 10px 10px 0 10px;
        background-color: inherit;

        a {
            color: var(--dark);
        }
    }
}

/** Home Settings **/

#home {
    p {
        margin: 10px 0;
    }

    img {
        margin: auto;
        padding: 0;
        max-width: var(--picture);
    }

    .carousel button {
        color: var(--medium);
    }
}

/** Songs Settings **/

#song {
    h1, h2, strong {
        text-transform: uppercase;
        font-weight: 600;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    small {
        font-size: 0.7rem;
    }

    .credits {
        font-size: 0.9rem;
    }

    p {
        padding: 10px 0;
    }

    a {
        color: var(--medium);
    }

    #songLyrics {
        margin-bottom: 50px;
    }

    #songPlayer {
        position: fixed;
        bottom: 120px;
        left: 10px;
        right: 10px;
        margin: 0;
        padding: 10px 10px 5px 10px;
        background-color: var(--light);
        border: 2px solid var(--dark);
        border-radius: 25px;
    }

    @media (min-width: 768px) {
        h2 {
            font-size: 1.9rem;
        }

        strong {
            margin-left: -16px;
        }

        #songLyrics {
            margin-left: 20px;
        }

        #songPlayer {
            left: calc((100% - var(--page) - 50px) / 2);
            right: calc((100% - var(--page) - 50px) / 2);
            bottom: 85px;
        }
    }
}

/** Documents Settings **/

#presskit {
    img {
        width: min(100%, var(--picture));
    }

    p {
        margin: 15px 0;
        text-align: justify;
        text-justify: inter-word;
    }

    a {
        color: inherit;
        word-break: break-all;
    }

    a:hover {
        color: var(--medium);
    }

    ul {
        list-style-type: none;
        display: contents;

        li {
            padding: 5px 0;
        }
    }
}

#rider {
    p {
        margin: 30px 0;
        text-align: justify;
        text-justify: inter-word;
    }

    a {
        color: inherit;
    }

    a:hover {
        color: var(--medium);
    }

    table, th, td {
        font-size: 0.8rem;
        padding: 5px 10px;
        border: 1px solid black;
    }
}

#photos {
    a {
        color: var(--dark);
        text-decoration: none;
        font-size: 24px;
        padding: 5px 0;

        .bi-download {
            font-size: 30px;
        }
    }

    a:hover {
        color: var(--medium);
    }

    img {
        width: min(100%, var(--picture));
    }
}

/** Contacts Settings **/

#contacts {
    #contactsButton {
        border: 1px solid var(--dark);
        background-color: var(--medium);
        color: var(--light);
        min-height: 50px;
    }

    #contactsMessage {
        min-height: 120px;
    }

    a {
        color: var(--medium)
    }
}
