@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --dark: #293F14;
    --medium: #579D6C;
    --light: #E4E1D6;
    background-color: var(--light);
}

/* Main Settings */

html, body {
    color: black;
    background-color: var(--light);
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    font-size: 18px;
    overflow-x: hidden;
}

/* allows to always fill the main window */
main > div {
    min-height: calc(100vh - 130px)
}

.hr {
    border-top: 1px solid var(--medium);
}

.info {
    text-align: justify;
    text-justify: inter-word;
}

/* Navbar Settings */

nav,
nav .navbar-nav,
nav .dropdown-menu,
nav .dropdown-menu a,
nav .nav-link,
nav .nav-link:focus,
nav .nav-link:hover {
    background-color: var(--dark);
}

nav .navbar-nav {
    flex: 1;
}

nav .nav-item {
    padding: 0 10px;
}

nav .dropdown-menu {
    padding: 5px 0 10px 0;
    border: none;
}

nav .dropdown-menu a {
    padding: 5px 15px !important;
    font-weight: 400;
}

nav .nav-link {
    color: var(--light);
    cursor: pointer !important;
    font-weight: 600;
}

nav .nav-link:hover, nav .nav-link:focus {
    color: var(--medium);
}

nav button {
    color: var(--light);
    background: none;
    border: none;
}

/** Footer Settings **/

footer {
    padding-bottom: 10px;
    background-color: var(--light);
}

footer img {
    margin: 10px 50px 0 50px;
}

footer .list-group-item {
    border: none;
    padding: 10px 10px 0 10px;
    background-color: inherit;
}

footer .list-group-item a {
    color: var(--dark);
}

/** Home Settings **/

#home p {
    margin: 10px 0;
}

#home img {
    margin: auto;
    padding: 10px;
    max-width: 400px;
}

#home .fa {
    color: var(--medium);
}

#home .card {
    background-color: inherit;
    border: none;
}

#home .card button {
    color: var(--medium);
    border: 2px solid var(--dark);
    margin: 0 2px;
    width: 50px;
}
